sudo: False

language: python

cache: pip

matrix:
  include:
    - python: 2.7
    - python: 3.5
    - python: 3.5
      env: NUMPY_VERSION=1.13
    - python: 3.6

install:
  - ./ci/01-install.sh

script:
  - py.test

after_success:
  - codecov

notifications:
  email: false
