recursive-include sparse *.py
recursive-include sparse *.html
recursive-include docs *.rst

include setup.py
include README.rst
include LICENSE.txt
include MANIFEST.in
include requirements.txt

prune docs/_build
