recursive-include sparse *.py
recursive-include sparse *.html
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.png

include setup.py
include README.rst
include LICENSE
include MANIFEST.in
include requirements.txt
recursive-include requirements *.txt

prune docs/_build
include versioneer.py
