site_name: sparse
repo_url: https://github.com/pydata/sparse.git
edit_uri: edit/main/docs/
#use_directory_urls: false
theme:
  name: material
  palette:
    primary: custom
    accent: cyan
  font: false #avoid Google Fonts to adhere to data privacy regulations
  logo: assets/images/logo.png
  favicon: assets/images/logo.svg
  features:
        - navigation.tabs
        - navigation.tabs.sticky
        - navigation.tracking
        - navigation.instant
        - navigation.instant.progress
        - navigation.prune
        - navigation.footer
        - navigation.indexes
        - navigation.expand
        - navigation.top # adds a back-to-top button when user scrolls up
        - content.code.copy

markdown_extensions:
  - tables
  - admonition # This line, pymdownx.details and pymdownx.superfences are used by warings
  - pymdownx.details
  - pymdownx.superfences
  - codehilite
  - toc:
      toc_depth: 2
  - pymdownx.arithmatex: # To display math content with KaTex
      generic: true
  - attr_list # To be able to link to a header on another page, use grids
  - md_in_html # Used for grids

extra_javascript:
  - javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

extra_css:
  - https://unpkg.com/katex@0/dist/katex.min.css
  - css/mkdocstrings.css

plugins:
  - search
  - section-index
  - autorefs
  - gen-files:
      scripts:
      - scripts/gen_ref_pages.py
  - literate-nav
  - mkdocstrings:
      handlers:
            python:
              import:
              - https://numpy.org/doc/stable/objects.inv
              - https://docs.python.org/3/objects.inv
              - https://docs.scipy.org/doc/scipy/objects.inv
              options:
                inherited_members: yes
                show_root_members_full_path: false
                show_if_no_docstring: true
                members_order: source
                docstring_style: numpy
                show_source: true
                filters: ["!^_"]
                group_by_category: true
                show_category_heading: true
  
  - mkdocs-jupyter:
      include_source: True
  
nav:
  - Home: index.md
  - Introduction: introduction.md
  - Install: install.md
  - Tutorials: examples/sparse_finch.ipynb
  - How to guides:
    - how-to-guides.md
    - quickstart.md
    - construct.md
    - operations.md
  - API:
    - api/*
  - Contributing:
    - contributing.md
    - roadmap.md
    - completed-tasks.md
    - changelog.md
    - conduct.md

#- index.md
#- introduction.md
#- install.md
#- quickstart.md
#- construct.md
#- operations.md
#- API:
#  - api/*
#- roadmap.md
## - completed-tasks.md
#- contributing.md
#- changelog.md
#- conduct.md
#- Notebook page: examples/sparse_finch.ipynb
#- examples-test.md
