[workspace]
authors = ["Hameer Abbasi <2190658+hameerabbasi@users.noreply.github.com>"]
channels = ["https://prefix.dev/conda-forge"]
name = "sparse"
platforms = ["osx-arm64", "osx-64", "linux-64", "win-64"]
preview = ["pixi-build"]

[environments]
test = ["test", "extra"]
doc = ["doc", "extra"]
mlir = ["test", "mlir"]
finch = ["test", "finch"]
matrepr = ["matrepr"]
notebooks = ["extra", "mlir", "finch", "test", "notebooks"]
examples = ["extra", "finch", "examples"]
xp-tests = ["test", "xp-tests", "finch"]
mindeps = ["test", "extra", "mindeps", "numba-boundscheck", "finch", "mlir"]

# sparse package definition #

[package]
version = "0.1.0" # TODO: fix this

[package.build.backend]
name = "pixi-build-python"
version = "*"

[package.host-dependencies]
python = ">=3.11,<3.14"
setuptools = "*"
setuptools-scm = "*"

[package.run-dependencies]
numba = ">=0.49"
numpy = ">=1.17"

# default feature definition #

[dependencies]
sparse.path = "."

[dev]
# pulls in host and run dependencies
sparse.path = "."

# non-default feature definitions #

# extra

[feature.extra.dependencies]
dask = ">=2024"
scipy = ">=0.19"
scikit-learn = "*"

# doc

[feature.doc.dependencies]
mkdocs-material = "*"
mkdocstrings-python = "*"
mkdocs-gen-files = "*"
mkdocs-literate-nav = "*"
mkdocs-section-index = "*"
mkdocs-jupyter = "*"

# test

[feature.test.dependencies]
pytest = ">=3.5"
pytest-cov = "*"
pytest-xdist = "*"
pytest-codspeed = "*"

[feature.test.tasks.test]
cmd = "pytest -n auto -vvv"
default-environment = "test"

[feature.test.tasks.test-numba]
cmd = "pytest --pyargs sparse --doctest-modules --cov-report=xml:coverage_Numba.xml -n auto -vvv"
default-environment = "test"

[feature.test.tasks.test-all]
depends-on = ["test-numba", "test-finch", "test-mlir", "test-examples", "test-notebooks", "xp-tests"]

# xp-tests

[feature.xp-tests.dependencies]
pytest-json-report = "*"
hypothesis = "*"
ndindex = "*"

[feature.xp-tests.tasks.clean-xp-tests]
cmd = "rm -rf array-api-tests"

[feature.xp-tests.tasks.clone-xp-tests]
cmd = "git clone https://github.com/data-apis/array-api-tests.git"
depends-on = ["clean-xp-tests"]

[feature.xp-tests.tasks.checkout-xp-tests]
cmd = [
  "git",
  "reset",
  "--hard",
  "$(cat ../xp-tests/array-api-tests-rev.txt)",
  "&&",
  "git",
  "submodule",
  "update",
  "--init",
]
cwd = "array-api-tests"
depends-on = ["clone-xp-tests"]

[feature.xp-tests.tasks._xp-tests]
cmd = [
  "pytest",
  "-v",
  "--max-examples=2",
  "--derandomize",
  "--disable-deadline",
  "--disable-warnings",
  "-o xfail_strict=True",
  "-nauto",
  "--xfails-file",
  "../xp-tests/{{ SPARSE_BACKEND }}-array-api-xfails.txt",
  "--skips-file",
  "../xp-tests/{{ SPARSE_BACKEND }}-array-api-skips.txt",
  "array_api_tests/",
]
args = [{ arg = "SPARSE_BACKEND", default = "Numba" }]
env.SPARSE_BACKEND = "Numba"  # TODO: set to arg
env.ARRAY_API_TESTS_MODULE = "sparse"
cwd = "array-api-tests"
depends-on = ["checkout-xp-tests"]

[feature.xp-tests.tasks.xp-tests-numba]
depends-on = [{ task = "_xp-tests", args = [{ "SPARSE_BACKEND" = "Numba" }] }]

[feature.xp-tests.tasks.xp-tests-finch]
depends-on = [
  "_precompile_finch",
  "checkout-xp-tests",
  # { task = "_xp-tests", args = [{"SPARSE_BACKEND" = "Finch" }]},
]
# TODO: depend on `_xp-tests` once it can correctly set SPARSE_BACKEND
cmd = [
  "pytest",
  "-v",
  "--max-examples=2",
  "--derandomize",
  "--disable-deadline",
  "--disable-warnings",
  "-o xfail_strict=True",
  "-nauto",
  "--xfails-file",
  "../xp-tests/Finch-array-api-xfails.txt",
  "--skips-file",
  "../xp-tests/Finch-array-api-skips.txt",
  "array_api_tests/",
]
env.ARRAY_API_TESTS_MODULE = "sparse"
env.SPARSE_BACKEND = "Finch"
cwd = "array-api-tests"

[feature.xp-tests.tasks.xp-tests]
depends-on = ["xp-tests-numba", "xp-tests-finch"]

# notebooks

[feature.notebooks.dependencies]
ipykernel = "*"
nbmake = "*"
matplotlib = "*"
networkx = "*"
jupyterlab = "*"

[feature.notebooks.tasks.test-notebooks-ci]
cmd = "pytest -n 4 --nbmake --nbmake-timeout=600 ./examples/*.ipynb"
env.CI_MODE = "1"

[feature.notebooks.tasks.test-notebooks]
cmd = "pytest -n 4 --nbmake --nbmake-timeout=600 ./examples/*.ipynb"

# examples

[feature.examples.dependencies]
networkx = "*"
graphblas-algorithms = "*"

[feature.examples.tasks.test-examples-ci]
cmd = "scripts/test_examples.sh"
env.CI_MODE = "1"

[feature.examples.tasks.test-examples]
cmd = "scripts/test_examples.sh"

# finch

[feature.finch.dependencies]
python = ">=3.10"
juliaup = ">=1.17.10"
scipy = ">=1.13"

[feature.finch.pypi-dependencies]
finch-tensor = ">=0.2.13"

[feature.finch.activation.env]
SPARSE_BACKEND = "Finch"

[feature.finch.target.osx-arm64.activation.env]
PYTHONFAULTHANDLER = "${HOME}/faulthandler.log"

[feature.finch.tasks._precompile_finch]
cmd = "python -c 'import finch'"
default-environment = "finch"

[feature.finch.tasks.test-finch]
cmd = "pytest --pyargs sparse/tests --cov-report=xml:coverage_Finch.xml -n auto -vvv"
depends-on = ["_precompile_finch"]
default-environment = "finch"

# mlir

[feature.mlir.dependencies]
scipy = ">=0.19"
pyyaml = "*"

[feature.mlir.pypi-dependencies]
finch-mlir = ">=0.0.2"

[feature.mlir.activation.env]
SPARSE_BACKEND = "MLIR"

[feature.mlir.tasks.test-mlir]
cmd = "pytest --pyargs sparse/mlir_backend --cov-report=xml:coverage_MLIR.xml -n auto -vvv"
default-environment = "mlir"

# matrepr

[feature.matrepr.dependencies]
matrepr = "*"

# mindeps

[feature.mindeps.dependencies]
python = "3.11.*"
numpy = "1.*"

[feature.mindeps.tasks.test-numba-mindeps]
cmd = "pytest --pyargs sparse --cov-report=xml:coverage_Numba.xml -n auto -vvv"
env.SPARSE_BACKEND = "Numba"

[feature.mindeps.tasks.test-finch-mindeps]
cmd = "pytest --pyargs sparse/tests --cov-report=xml:coverage_Finch.xml -n auto -vvv"
env.SPARSE_BACKEND = "Finch"

[feature.mindeps.tasks.test-mlir-mindeps]
cmd = "pytest --pyargs sparse/mlir_backend --cov-report=xml:coverage_MLIR.xml -n auto -vvv"
env.SPARSE_BACKEND = "MLIR"

[feature.numba-boundscheck.activation.env]
NUMBA_BOUNDSCHECK = "1"
