[workspace]
authors = ["Hameer Abbasi <2190658+hameerabbasi@users.noreply.github.com>"]
channels = ["https://prefix.dev/conda-forge"]
name = "sparse"
platforms = ["osx-arm64", "osx-64", "linux-64", "win-64"]
preview = ["pixi-build"]

[environments]
test = ["test", "extra"]
doc = ["doc", "extra"]
mlir = ["test", "mlir"]
finch = ["test", "finch"]
matrepr = ["matrepr"]
notebooks = ["extra", "mlir", "finch", "notebooks"]
core = { features = ["core"], no-default-feature = true }
mindeps = ["test", "mindeps", "numba-boundscheck", "finch", "mlir"]

# sparse package definition #

[package]
version = "0.1.0" # TODO: fix this

[package.build.backend]
name = "pixi-build-python"
version = "*"

[package.host-dependencies]
python = ">=3.11,<3.14"
setuptools = "*"

[package.run-dependencies]
numba = ">=0.49"
numpy = ">=1.17"

# default feature definition #

[dev]
sparse.path = "."

# non-default feature definitions #

# extra

[feature.extra.dependencies]
dask = ">=2024"
scipy = ">=0.19"
scikit-learn = "*"

# doc

[feature.doc.dependencies]
mkdocs-material = "*"
mkdocstrings-python = "*"
mkdocs-gen-files = "*"
mkdocs-literate-nav = "*"
mkdocs-section-index = "*"
mkdocs-jupyter = "*"

# test

[feature.test.dependencies]
pytest = ">=3.5"
pytest-cov = "*"
pytest-xdist = "*"
pytest-codspeed = "*"

[feature.test.tasks.test]
cmd = "pytest -n auto -vvv"
default-environment = "test"

[feature.test.tasks.test-numba]
cmd = "pytest --doctest-modules --cov-report=xml:coverage_Numba.xml -n auto -vvv"
default-environment = "test"

# notebooks

[feature.notebooks.dependencies]
ipykernel = "*"
nbmake = "*"
matplotlib = "*"
networkx = "*"
jupyterlab = "*"

# finch

[feature.finch.dependencies]
python = ">=3.10"
juliaup = ">=1.17.10"
scipy = ">=1.13"

[feature.finch.pypi-dependencies]
finch-tensor = ">=0.2.13"

[feature.finch.activation.env]
SPARSE_BACKEND = "Finch"

[feature.finch.target.osx-arm64.activation.env]
PYTHONFAULTHANDLER = "${HOME}/faulthandler.log"

[feature.finch.tasks._precompile]
cmd = "python -c 'import finch'"
default-environment = "finch"

[feature.finch.tasks.test-finch]
cmd = "pytest --pyargs sparse/finch_backend --cov-report=xml:coverage_Finch.xml -n auto -vvv"
depends-on = ["_precompile"]
default-environment = "finch"

# mlir

[feature.mlir.dependencies]
scipy = ">=0.19"
pyyaml = "*"

[feature.mlir.pypi-dependencies]
finch-mlir = ">=0.0.2"

[feature.mlir.activation.env]
SPARSE_BACKEND = "MLIR"

[feature.mlir.tasks]
test-mlir = "pytest --pyargs sparse/mlir_backend --cov-report=xml:coverage_MLIR.xml -n auto -vvv"

# matrepr

[feature.matrepr.dependencies]
matrepr = "*"

# core

[feature.core.tasks]
setup-env = { cmd = "ci/setup_env.sh" }
test-all = { cmd = "ci/test_all.sh", env = { ACTIVATE_VENV = "1" }, depends-on = ["setup-env"] }

# mindeps

[feature.mindeps.dependencies]
python = "3.11.*"
numpy = "1.*"

[feature.mindeps.tasks]
test-numba-mindeps = "pytest --cov-report=xml:coverage_Numba.xml -n auto -vvv"

[feature.numba-boundscheck.activation.env]
NUMBA_BOUNDSCHECK = "1"
